.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
  flex-direction: column;
  width: 100%;
}

.card_header:hover,
.card_header:focus,
.card_header:active {
  color: #6ecbb8;
  border-color: #6ecbb8;
}


.active {
  max-height: 300px;
}

.inactive {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease;
}

.card_header {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.card_container {
  width: 100%;
  border-bottom: 3px solid #eaeaea;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
